#main {
    width: 85%;
    margin: 24px auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

@media screen and (max-width: 800px) {
    #main {
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
    }
}

#left-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

#right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#new-post {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 20px;
    background: linear-gradient(to bottom, #f4f5ff 95%, #e0e0f1);
}

#content {
    width: 320px;
    resize: none;
}

#posts {
    width: 340px;
}

@media screen and (max-width: 800px) {
    #posts {
        width: 100%;
    }
}

.post {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 14px solid transparent;
    border-image: url("/static/themes/default/border.png") 112 repeat;
    background: linear-gradient(to left, #f4f5ff, #ece5ff);
    width: 100%;
    padding: 20px 20px 20px;
}

@media screen and (max-width: 800px) {
    .post {
        width: auto;
    }
}

.post-content {
    white-space: pre-line;
    overflow: auto;
    word-wrap: break-word;
    max-width: 340px;
}

.post-content > p {
    overflow: auto;
    word-wrap: break-word;
}

.post:nth-child(2n) {
    background: linear-gradient(to left, #f4f5ff, #e5eeff);
}

.post > img {
    width: 320px;
    margin: auto;
    border: inset #492d58;
}

.post-author, .post-author:visited {
    color: #49279c;
    text-decoration: none;
}

.post-author-beans {
    font-size: 0.8em;
    color: #ad77f1;
}

.post-author-ipods {
    font-size: 0.8em;
    color: #b3a6c9;
}

.post-author {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
}

.post-author-names {
    display: flex;
    flex-direction: column;
    margin-left: 4px;
    margin-top: 0;
    line-height: 1em;
}

.post-author-display-name {
    font-size: 1.1em;
    font-weight: bold;
}

.post-author-username {
    font-size: 0.8em;
    color: grey;
}

.post-author > img {
    width: 48px;
}

.post-date {
    font-size: 0.5em;
    color: grey;
}

.alert {
    animation: alert 0.5s infinite linear;
}

.ctform > button[type="submit"] {
    color: #8b5cff;
    font-weight: bold;
}

.ctform > button[type="submit"]:hover {
    animation: alert 0.5s infinite linear;
}

.ctform > button[type="submit"][disabled] {
    color: grey;
    font-weight: lighter;
    animation: none !important;
}

#sillymarket-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 340px;
    border: 14px solid transparent;
    border-image: url("/static/themes/default/border.png") 112 repeat;
    padding: 20px;
    margin: 20px;
}

@media screen and (max-width: 800px) {
    #sillymarket-area {
        margin: 10px auto;
        padding: 5px;
        border: none;
        font-size: 0.8em;
        line-height: 0.6em;
    }

    #sillymarket-area > * {
        margin: 5px;
    }
}

#sex-status-area {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.sex-status-img {
    width: 16px;
    height: 16px;
    margin: 8px;
}

#silly-price, #sillies-owned {
    animation: alert 1s infinite linear;
}

.sex-soover {
    color: #312a9c;
}

.sex-inshambles {
    color: #595b95;
}

.sex-mid {
    color: grey;
}

.sex-soback {
    color: #379c2a;
}

.sex-swag {
    animation: alert 1s infinite linear;
}

